# trash
.DS_Store
Thumbs.db
# temp folders
.private/
# archive
.archive/
# terraform
.terraform
*.tfvars
# sops
.decrypted~*
*.agekey
*.pub
*.key
*.pem
# envrc
.envrc
.nix*
.mozilla
**/*.tmp.sops.yaml
result
.direnv
**/*.sops.tmp.yaml
.kube